#president {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 5rem;
}

#execs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

#graphics {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5rem;
}

#content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.member img { 
    height: 10rem;
    width: 10rem;
    object-fit: cover;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 2px var(--accent2) solid;
}

.team-list {
    display: grid;
    padding-bottom: 3rem;
}

.member {
    max-width: 12rem;
    text-align: center;
}

.member-name {
    font-weight: 600;
    font-size: 1.5rem;
}

.member-role {
    font-weight: 400;
    margin-top: -0.5rem;
    font-size: 1.25rem;
}

.member-program {
    padding-top: 0.1rem;
    font-weight: 300;
}

@media (max-width: 1240px) {
    #execs, #president, #graphics, #content {
        gap: 1rem;
    }

    .member img {
        width: 7.5rem;
        height: 7.5rem;
    }

    .member-name {
        font-size: 1.25rem;
    }
    .member-role {
        font-size: 1rem;
        margin-top: -0.25rem;
    }
    .member-program {
        font-size: 0.9rem;
    }
}

@media (max-width: 800px) {
    #all-members {
        padding: 1.5rem;
    }
}