@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* TODO: Refactor */

:root {
    --background1: #1b1b1d;
    --background2: rgb(220, 220, 220);
    --main: #1b1b1d;
    --accent: #2c7fb9;
    --accent2: #AED0E8;
}

* {
    font-family: "Poppins", system-ui;
    margin: 0;
    text-decoration: none;
    overflow-x: hidden;
}

a {
    color: var(--background2);
}

#top-button {
    color: var(--accent);
    display: none;
    position: fixed;
    z-index: 99;
    cursor: pointer;
    right: 2.5rem;
    bottom: 2.5rem;
    background: none; border: none;
    font-size: 3rem;
    font-weight: 900;
    /* text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.75); */
}

#top-button i {
    overflow: hidden;
}
#top-button p {
    margin-top: -1rem;
    font-size: 1rem;
    padding: 0 1rem;
    text-transform: uppercase;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); */
}

@-webkit-keyframes in {
    0% { -webkit-transform: scale(1) rotate(0); opacity: 0; visibility: hidden; }
    100% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
  }

@keyframes in {
    0% { transform: scale(1) rotate(0); opacity: 0; visibility: hidden;  }
    100% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
  }

  @-webkit-keyframes out {
    0% { -webkit-transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
    100% { -webkit-transform: scale(1) rotate(0); opacity: 0; visibility: hidden; }
  }
  
  @keyframes out {
    0% { transform: scale(1) rotate(0); opacity: 1; visibility: visible; }
    100% { transform: scale(1) rotate(0); opacity: 0; visibility: hidden;  }
  }
  
#top-button.show {
    -webkit-animation: in 500ms ease both;
    animation: in 500ms ease both;
}

#top-button.hide {
    -webkit-animation: out 500ms ease both;
    animation: out 500ms ease both;
  }

.navbar {
    background: var(--background1);
    display: grid;
    grid-template-columns: 2fr 1fr;
    height: 15vh;
    padding: 0 3rem;
    font-size: 1.5rem;
}

.navbar i {
    padding-top: 4px;
    overflow: hidden;
}

#top a {
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--background2);
}

.left-nav {    
    translate: 0;
    transition: translate 0.5s ease-out;
}

.left-nav:hover {
    translate: 0 -0.15rem;
}

#top i {
    font-size: 3rem;
}

.left-nav {
    display: flex;
    align-items: center;
    gap: 3rem;
    font-weight: 600;
    color: var(--background2);
    font-size: 3rem;
}

.subpages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    position: relative;
}

.subpages a {
    color: var(--background2);
    text-decoration: none;
}

.splash {
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--background2);
    height: 100vh;
    margin: auto;
    position: relative;
    padding: 0;
    margin: 0;
}

.splash-container {
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-image {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 1rem;
}

.logo-image img {
    width: 25%;
}

.logo-image, .title, .subtitle {
    translate: 0;
    transition: translate 0.5s ease-out;
}

.logo-image:hover, .title:hover, .subtitle:hover {
    translate: 0 -0.25rem;
}

.title {
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
    color: var(--main);
}

.subtitle {
    font-weight: 500;
    font-size: 2.5rem;
    color: var(--accent);
}

.subdivider {
    background: var(--background1);
    padding: 4rem 8rem;
    color: var(--background2);
}

.event-title {
    font-weight: 800;
    color: var(--accent2);
    font-size: 3rem;
    text-transform: uppercase;
}

.event {
    font-size: 2rem;
    font-weight: 300;
}

.event a {
    color: var(--accent);
    font-weight: 600;
    position: relative;
}

.link {
    position: relative;
}

.event a::before, .link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 4px;
    background-color: var(--accent);
    bottom: 0.25rem;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .2s ease-in-out;
}

.event a:hover::before, .link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
  }

.body-section {
    background: var(--background2);
    padding: 4rem 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-title {
    font-weight: 800;
    font-size: 4rem;
    padding: 1rem 0;
    text-transform: uppercase;
    color: var(--main);
}

.section-par {
    font-weight: 400;
    font-size: 2rem;
    padding: 3rem;
    text-align: left;
}

.body-section {
    color: var(--main);
}

.body-section ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding: 0;
    margin: 0;
}

#events ul {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 0;
}

.body-section li {
    border: 1px var(--accent) solid;
    background: var(--accent2);
    /* color: var(--accent); */
    border-radius: 1rem;
    height: 50vh;
    padding: 1rem;
    list-style: none;
    width: auto;
}

#events li {
    height: 15vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5rem;
    font-weight: 700;
}

.initiative-title {
    font-size: 4rem;
    text-align: center;
    padding: 2rem 0 1rem;
    font-weight: 600;
}

.initiatives {
    height: 50vh;
}

.events {
    padding-bottom: 10rem;
}

.initiatives li {
    height: 40vh;
}

.initiative i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    overflow: hidden;
}

.initiative-description {
    padding: 1rem;
    font-size: 1.5rem;
    text-align: center;
}

.section-par a {
    color: var(--accent);
}

.contact-socials ul {
    padding-top: 2.5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.contact-socials li {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    translate: 0;
    transition: translate 0.5s ease-out;
}

.contact-socials li:hover {
    translate: 0 -0.5rem;
}

#contact-email {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#forensics {
    display: flex;
    text-align: left;
}

.footer {
    background: var(--background1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    color: white;
}

.footer-title {
    font-weight: 300;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.social-links {
    font-size: 1.25rem;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0; margin: 0;
    gap: 4rem;
}

.social-links li {
    list-style: none;
    padding: 0 1rem;
    translate: 0;
    transition: translate 0.5s ease-out;
}

.social-links a {
    color: var(--background2);

}

.social-links li:hover {
    translate: 0 -0.15rem;
}

.social-links i {
    padding: 0 0.25rem;
}

.footnote {
    font-size: 1rem;
    margin-top: -1rem;
}

.index-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 2rem;
}

.index-container li {
    list-style: none;
    font-size: 2rem;
    cursor: pointer;
}


@media (max-width: 1240px) {
    #top-button p {
        display: none;
    }
    #top-button i {
        overflow: hidden;
    }
    .navbar {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }
    .subpages {
        gap: 3rem;
        font-size: 2rem;
    }
    .left-nav {
        display: none;
    }
    .logo-image img {
        height: 45vh;
        width: auto;
    }
    .event-title {
        font-size: 2.5rem;
        text-align: center;
    }
    .event {
        text-align: center;
    }

    .section-par {
        text-align: center;
        padding: 1rem 0 4rem;
    }
    .body-section ul {
        display: flex;
        flex-direction: column;
    }
    .body-section li {
        height: 33vh;
        overflow: hidden;
    }
    .initiative-title {
        font-size: 3rem;
    }
    .initiative-title i {
        overflow: hidden;
    }

    .body-section {
        text-align: left;
    }

    #ref {
        text-align: left;
    }

    .index-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.5rem;
        padding: 0;
        text-align: center;
    }
    .section-title {
        text-align: center;
    }
}